@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

strong {
	@apply text-brand-primary;
}

/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #806919 #fbfaf5;
}